{% block content %}
<h1>Ambulancia</h1>

<a href="{% url 'create_user' %}">Vytvor uzivatela</a><br>
<a href="{% url 'user_list' %}">Zoznam</a>
<a href="{% url 'register' %}">Registrovat</a>

<p> Vítejte v naši psychiatrické ambulanci Hnídek<p>
<p>Nabízíme komplexní péči v oblasti duševního zdraví, sexuologie a adiktologie. <p>
   <p> Náš tým zkušených odborníků je zde, aby vám poskytl profesionální a individuální přístup.<p>
Co můžete očekávat:
1. Odborná psychiatrická péče
2. Sexuologické poradenství a léčba
3. Adiktologická terapie a podpora
4. Psychoterapeutické služby

    <p>Naše zásady:<p>
- Diskrétnost a respekt k soukromí
- Komplexní diagnostika a léčba
- Moderní terapeutické přístupy
- Individuální přístup ke každému pacientovi
Smluvní zdravotní pojišťovny:
 Všeobecná zdravotní pojišťovna (111)
 Vojenská zdravotní pojišťovna ČR (201)
 Česká průmyslová zdravotní pojišťovna (205)
 Oborová zdravotní poj. zam. bank, poj. a stav. (207)
 Zdravotní pojišťovna ministerstva vnitra ČR (211)
 Revírní bratrská pokladna, zdrav. pojišťovna (213)
 Zaměstnanecká pojišťovna Škoda (209)
-----------------------------------------------------------------
Praktické informace:
- Služby jsou hrazeny zdravotními pojišťovnami
- Není nutné doporučení od jiného lékaře
- Snadno dostupná lokalita
UPOZORNĚNÍ - PARKOVÁNÍ:
Pozor: Míst k parkování ppřímo u ambulance je jen několik. Parkování na parkovišti u ředitelství policie je v pracovních dnech v době od 6.00 do 17.00 vyhrazeno pouze pro držitele parkovacích karet policie. Využívejte prosím veřejné parkoviště u KD Crystal, které má dostatečnou kapacitu.
Poznámka: Naše ambulance se nachází v budově bez výtahu. Pokud máte jakékoli specifické potřeby týkající se přístupu, neváhejte nás kontaktovat předem.
******************
V 1 .patře objektu se nachází i další psychiatrické ordinace:
Psychiatrická ambulance pro děti a dorost a psychiatrická ambulance pro dospělé.
https://www.psychiatrie-cl.cz/kontakty
https://www.nzip.cz/poskytovatel/specializovana-ambulance/75123550000000
V 2. patře objektu se nachází i krajská poradna pro závislost:
ADVAITA, z. ú. - Poradna pro závislosti Česká Lípa
https://advaitaliberec.cz/program-ambulantniho-poradenstvi/poradny-pro-zavislosti/ </p>

<{% endblock %}