{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <h1>Psychiatrická ambulance Hnídek</h1>

    {% if user.is_authenticated %}
        {% if perms.user.add_user %}
            <a href="{% url 'create_user' %}" class="button">Vytvoř nového uživatele</a>
            <a href="{% url 'user_list' %}" class="button">Seznam</a>
        {% endif %}
        {% if perms.medical_examination.add_medical_examination %}
            <a href="{% url 'medical_examination_create' %}" class="button">Vytvor diagnozu</a>
        {% endif %}
        {% if perms.medical_examination.view_medicalexamination %}
            <a href="{% url 'medical_examination_list' %}" class="button">Diagnozy</a>
        {% endif %}
    {% endif %}

    <section class="welcome">
        <h2>Vítejte v naši psychiatrické ambulanci</h2>
        <p>Nabízíme komplexní péči v oblasti duševního zdraví, sexuologie a adiktologie. Náš tým zkušených odborníků je zde, aby vám poskytl profesionální a individuální přístup.</p>
    </section>

    <section class="services">
        <h2>Co můžete očekávat:</h2>
        <ul>
            <li>Odborná psychiatrická péče</li>
            <li>Sexuologické poradenství a léčba</li>
            <li>Adiktologická terapie a podpora</li>
            <li>Psychoterapeutické služby</li>
        </ul>
    </section>

    <section class="principles">
        <h2>Naše zásady:</h2>
        <ul>
            <li>Diskrétnost a respekt k soukromí</li>
            <li>Komplexní diagnostika a léčba</li>
            <li>Moderní terapeutické přístupy</li>
            <li>Individuální přístup ke každému pacientovi</li>
        </ul>
    </section>

    <section class="insurance">
        <h2>Smluvní zdravotní pojišťovny:</h2>
        <ul>
            <li>Všeobecná zdravotní pojišťovna (111)</li>
            <li>Vojenská zdravotní pojišťovna ČR (201)</li>
            <li>Česká průmyslová zdravotní pojišťovna (205)</li>
            <li>Oborová zdravotní poj. zam. bank, poj. a stav. (207)</li>
            <li>Zdravotní pojišťovna ministerstva vnitra ČR (211)</li>
            <li>Revírní bratrská pokladna, zdrav. pojišťovna (213)</li>
            <li>Zaměstnanecká pojišťovna Škoda (209)</li>
        </ul>
    </section>

    <section class="practical-info">
        <h2>Praktické informace:</h2>
        <ul>
            <li>Služby jsou hrazeny zdravotními pojišťovnami</li>
            <li>Není nutné doporučení od jiného lékaře</li>
            <li>Snadno dostupná lokalita</li>
        </ul>
    </section>

    <section class="parking-info">
        <h2>UPOZORNĚNÍ - PARKOVÁNÍ:</h2>
        <p>Pozor: Míst k parkování přímo u ambulance je jen několik. Parkování na parkovišti u ředitelství policie je v pracovních dnech v době od 6.00 do 17.00 vyhrazeno pouze pro držitele parkovacích karet policie. Využívejte prosím veřejné parkoviště u KD Crystal, které má dostatečnou kapacitu.</p>
        <p>Poznámka: Naše ambulance se nachází v budově bez výtahu. Pokud máte jakékoli specifické potřeby týkající se přístupu, neváhejte nás kontaktovat předem.</p>
    </section>

    <section class="other-services">
        <h2>Další služby v budově:</h2>
        <p>V 1. patře objektu se nachází i další psychiatrické ordinace:</p>
        <ul>
            <li>Psychiatrická ambulance pro děti a dorost a psychiatrická ambulance pro dospělé.</li>
            <li><a href="https://www.psychiatrie-cl.cz/kontakty">www.psychiatrie-cl.cz/kontakty</a></li>
            <li><a href="https://www.nzip.cz/poskytovatel/specializovana-ambulance/75123550000000">www.nzip.cz/poskytovatel/specializovana-ambulance/75123550000000</a></li>
        </ul>
        <p>V 2. patře objektu se nachází i krajská poradna pro závislost:</p>
        <ul>
            <li>ADVAITA, z. ú. - Poradna pro závislosti Česká Lípa</li>
            <li><a href="https://advaitaliberec.cz/program-ambulantniho-poradenstvi/poradny-pro-zavislosti/">advaitaliberec.cz/program-ambulantniho-poradenstvi/poradny-pro-zavislosti/</a></li>
        </ul>
    </section>
</div>
{% endblock %}