{% block content %}
<h1>Ambulancia</h1>

<a href="{% url 'create_user' %}">Vytvor uzivatela</a><br>
<a href="{% url 'user_list' %}">Zoznam</a>

<p> text text text text text text text text text text text text text text text text text text </p>

<p> text text text text text text text text text text text text text text text text text text </p>
<p> text text text text text text text text text text text text text text text text text text </p>

<p> text text text text text text text text text text text text text text text text text text </p>
{% endblock %}