{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Seznam uživatelů</h1>

        <!-- Filtr na položky seznamu uživatelů -->
        <div class="filter">
            <button onclick="filterUsers('all')">Všichni uživatelé</button>
            <button onclick="filterUsers('patient')">Pacienti</button>
            <button onclick="filterUsers('doctor')">Lékaři</button>
            <button onclick="filterUsers('nurse')">Sestry</button>
        </div>

        <!-- seznam uživatelů -->
        <ul class="user-list">
            {% for user in patients %}
                <li class="user-item {{ user.role_patient|lower }}">
                    <a href="{% url 'user_detail' user.id %}">
                        <strong>{{ user.surname }} {{ user.name }}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function filterUsers(role) {
            var items = document.querySelectorAll('.user-item');
            items.forEach(function (item) {
                if (role === 'all') {
                    item.style.display = 'block';
                } else {
                    if (item.classList.contains(role)) {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                }
            });
        }
    </script>
{% endblock %}
