{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Seznam uživatelů</h1>

        <!-- Vyhledávací formulář -->
        <div class="search">
            <form method="get" action="{% url 'user_list' %}">
                <input type="text" name="search" placeholder="hledej uživatele" value="{{ request.GET.search }}">
                <p class="search-description">Zadejte prvních pár písmen příjmení pro vyhledání uživatelů.</p>
                <button type="submit" class="button">Hledat</button>
            </form>
        </div>

        <!-- Filtr na položky seznamu uživatelů -->
        <div class="filter">
            <button onclick="filterUsers('patient')">Pacienti</button>
            <button onclick="filterUsers('doctor')">Lékaři</button>
            <button onclick="filterUsers('nurse')">Sestry</button>
            <button onclick="filterUsers('')">Všichni uživatelé</button>
        </div>

        <!-- seznam uživatelů -->
        <ul class="user-list">
            {% for user in patients %}
                <li class="user-item {{ user.role_patient|lower }}">
                    <a href="{% url 'user_detail' user.id %}">
                        <strong>{{ user.surname }} {{ user.name }}</strong>
                    </a>
                </li>
            {% empty %}
                <li>Žádní uživatelé k zobrazení</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function filterUsers(role) {
            var url = new URL(window.location.href);
            url.searchParams.set('role', role);
            window.location.href = url.href;
        }
    </script>
{% endblock %}
