{% extends "base.html" %}

{% block content %}  {# Začátek bloku s obsahem #}
    <div class="container">
        <h1>Detail uživatele</h1>
        <p><strong>Jméno:</strong> {{ user.surname }} {{ user.name }}</p>  {# Zobrazení příjmení a jména uživatele #}
        <p><strong>Role uživatele:</strong> {{ user.get_role_patient_display }}</p>  {# Zobrazení role uživatele #}
        <p><strong>Email:</strong> {{ user.email }}</p>  {# Zobrazení emailu uživatele #}
        <p><strong>Kontakt (telefon):</strong> {{ user.contact }}</p>  {# Zobrazení kontaktu uživatele #}
        <p><strong>Adresa:</strong> {{ user.address }}</p>  {# Zobrazení adresy uživatele #}
        <p><strong>Datum narození:</strong> {{ user.birth_date }}</p>  {# Zobrazení data narození uživatele #}
        <p><strong>Rodné číslo:</strong> {{ user.birth_number }}</p>  {# Zobrazení rodného čísla uživatele #}
        <p><strong>Pojišťovna:</strong> {{ user.get_insurance_display }}</p>  {# Zobrazení pojišťovny uživatele #}
    </div>
    <div style="text-align: center;">
        {% if perms.patients.change_user %}  {# Kontrola oprávnění pro úpravu uživatele #}
            <a class="button" href="{% url 'user_edit' user.id %}" role="button">Upravit</a>  {# Tlačítko pro úpravu uživatele #}
        {% endif %}
    </div>
{% endblock %}