{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <!-- Zobrazuje se titulek podle toho, zda je formulář pro úpravu existující aktuality nebo pro přidání nové -->
        <h1>{% if form.instance.pk %}Upravit aktualitu{% else %}Přidat aktualitu{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            <!-- Zobrazení formuláře jako odstavec (p) -->
            {{ form.as_p }}
            <!-- Tlačítko pro odeslání formuláře; text se mění podle toho, zda jde o úpravu nebo přidání -->
            <button class="button" type="submit">{% if form.instance.pk %}Aktualizovat{% else %}
                Přidat{% endif %}</button>
        </form>
    </div>
{% endblock %}
