{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <h1>Seznam lékařských vyšetření</h1>
    
        <div class="filter">
            <form method="get" class="filter-form">
                {{ filter_form.as_p }}
                <button type="submit">Filtrovat</button>
            </form>            
        </div>
        <table>
            <thead>
            <tr>
                <th>Pacient</th>
                <th>Sestřička</th>
                <th>Lékař</th>
                <th>Datum vyšetření</th>
                <th>Editovat</th>
            </tr>
            </thead>
            <tbody>
            {% for examination in examinations %}
                <tr>
                    <td>{{ examination.patient.surname }} {{ examination.patient.name }}</td>
                    <td>{{ examination.nurse.surname }} {{ examination.nurse.name }}</td>
                    <td>{{ examination.doctor.surname }} {{ examination.doctor.name }}</td>
                    <td>{{ examination.examination_date }}</td>
                    <td>
                        <a href="{% url 'medical_examination_detail' examination.id %}">Detail</a>
                        {% if perms.medical_examination.change_medicalexamination %}
                            <a href="{% url 'medical_examination_edit' examination.id %}">Upravit</a>
                        {% endif %}
                        {% if perms.medical_examination.delete_medicalexamination %}
                            <a href="{% url 'medical_examination_delete' examination.id %}">Smazat</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Žádná vyšetření nenalezena.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}