{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <!-- Nadpis pro podrobnosti vyšetření -->
        <h1>Podrobnosti vyšetření</h1>
        <div class="field-value">
            <!-- Zobrazení jména pacienta -->
            <p><strong>Pacient:</strong> {{ medical_examination.patient }}</p>
        </div>
        <div class="field-value">
            <!-- Zobrazení jména sestry -->
            <p><strong>Sestřička:</strong> {{ medical_examination.nurse }}</p>
        </div>
        <div class="field-value">
            <!-- Zobrazení jména lékaře -->
            <p><strong>Lékař:</strong> {{ medical_examination.doctor }}</p>
        </div>
        <div class="field-value">
            <!-- Zobrazení současných obtíží -->
            <p><strong>Nynější obtíže:</strong>
                {% if medical_examination.current_complaints %}
                    {{ medical_examination.current_complaints }}
                {% else %}
                    <em>Žádné údaje</em>
                {% endif %}
            </p>
        </div>
        <div class="field-value">
            <!-- Zobrazení objektivních nálezů -->
            <p><strong>Objektivní stav:</strong>
                {% if medical_examination.objective_findings %}
                    {{ medical_examination.objective_findings }}
                {% else %}
                    <em>Žádné údaje</em>
                {% endif %}
            </p>
        </div>
        <div class="field-value">
            <!-- Zobrazení diagnózy -->
            <p><strong>Diagnóza:</strong>
                {% if medical_examination.diagnosis %}
                    {{ medical_examination.diagnosis }}
                {% else %}
                    <em>Žádné údaje</em>
                {% endif %}
            </p>
        </div>
        <div class="field-value">
            <!-- Zobrazení data vyšetření -->
            <p><strong>Datum vyšetření:</strong> {{ medical_examination.examination_date }}</p>
        </div>
        <div class="field-value">
            <!-- Zobrazení předepsaného receptu -->
            <p><strong>Recept:</strong>
                {% if medical_examination.prescription %}
                    {{ medical_examination.prescription }}
                {% else %}
                    <em>Žádné údaje</em>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}
