{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <!-- Nadpis seznamu vyšetření -->
        <h1>Seznam lékařských vyšetření</h1>

        <div class="filter">
            <!-- Formulář pro filtrování vyšetření -->
            <form method="get" class="filter-form">
                <input type="text" name="patient_name" placeholder="Příjmení pacienta"
                       value="{{ request.GET.patient_name }}">
                <select name="nurse_id">
                    <option value="">--Vyberte zdravotní sestru--</option>
                    {% for nurse in nurses %}
                        <option value="{{ nurse.id }}"
                                {% if nurse.id|stringformat:"s" == request.GET.nurse_id %}selected{% endif %}>{{ nurse.surname }} {{ nurse.name }}</option>
                    {% endfor %}
                </select>
                <select name="doctor_id">
                    <option value="">--Vyberte lékaře--</option>
                    {% for doctor in doctors %}
                        <option value="{{ doctor.id }}"
                                {% if doctor.id|stringformat:"s" == request.GET.doctor_id %}selected{% endif %}>{{ doctor.surname }} {{ doctor.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filtrovat</button>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <!-- Hlavička tabulky s názvy sloupců -->
                <th>Pacient</th>
                <th>Sestřička</th>
                <th>Lékař</th>
                <th>Datum vyšetření</th>
                <th>Editovat</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterace přes všechna vyšetření -->
            {% for examination in examinations %}
                <tr>
                    <!-- Zobrazení informací o vyšetření v tabulce -->
                    <td>{{ examination.patient.surname }} {{ examination.patient.name }}</td>
                    <td>{{ examination.nurse.surname }} {{ examination.nurse.name }}</td>
                    <td>{{ examination.doctor.surname }} {{ examination.doctor.name }}</td>
                    <td>{{ examination.examination_date }}</td>
                    <td>
                        <!-- Odkaz na detail vyšetření -->
                        <a href="{% url 'medical_examination_detail' examination.id %}">Detail</a>
                        <!-- Odkaz na úpravu vyšetření, pokud má uživatel práva -->
                        {% if perms.medical_examination.change_medicalexamination %}
                            <a href="{% url 'medical_examination_edit' examination.id %}">Upravit</a>
                        {% endif %}
                        <!-- Odkaz na smazání vyšetření, pokud má uživatel práva -->
                        {% if perms.medical_examination.delete_medicalexamination %}
                            <a href="{% url 'medical_examination_delete' examination.id %}">Smazat</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <!-- Zpráva v případě, že nejsou nalezena žádná vyšetření -->
                <tr>
                    <td colspan="5">Žádná vyšetření nenalezena.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}