{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <h1>Seznam lékařských vyšetření</h1>
    <table>
        <thead>
            <tr>
                <th>Pacient</th>
                <th>Sestřička</th>
                <th>Lékař</th>
                <th>Datum vyšetření</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for examination in examinations %}
                <tr>
                    <td>{{ examination.patient }}</td>
                    <td>{{ examination.nurse }}</td>
                    <td>{{ examination.doctor }}</td>
                    <td>{{ examination.examination_date }}</td>
                    <td>
                        <a href="{% url 'medical_examination_detail' examination.id %}">Detail</a>
                        {% if perms.medical_examination.change_medicalexamination %}
                            <a href="{% url 'medical_examination_edit' examination.id %}">Upravit</a>
                        {% endif %}
                        {% if perms.medical_examination.delete_medicalexamination %}
                            <a href="{% url 'medical_examination_delete' examination.id %}">Smazat</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}