{% extends "base.html" %}

{% block content %}
    <!-- Nadpis pro potvrzení smazání -->
    <h1>Potvrzení smazání</h1>
    <!-- Potvrzovací zpráva pro smazání vyšetření -->
    <p>Opravdu chcete smazat toto vyšetření?</p>
    <form method="post">
        {% csrf_token %}
        <!-- Tlačítko pro potvrzení smazání vyšetření -->
        <button type="submit">Ano, smazat</button>
        <!-- Odkaz pro návrat na seznam vyšetření bez smazání -->
        <a href="{% url 'medical_examination_list' %}">Zpět</a>
    </form>
{% endblock %}
