{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper" style="padding: 20px; max-width: 800px; margin: 0 auto;">
        <h1 style="text-align: center; color: #333;">Naše Služby</h1>

        <div style="margin-bottom: 40px;">
            <h2 style="color: #555;">Seznam poskytovaných služeb (diagnostika, léčba, psychoterapie):</h2>
            <ul style="list-style-type: disc; margin-left: 20px;">
                <li>Odborná psychiatrická péče</li>
                <li>Psychiatrická diagnostika</li>
                <li>Farmakoterapie (léčba pomocí léků)</li>
                <li>Sexuologické poradenství a léčba</li>
                <li>Adiktologická terapie a podpora</li>
                <li>Individuální psychoterapie</li>
                <li>Skupinová psychoterapie</li>
            </ul>
        </div>

        <div style="margin-bottom: 40px;">
            <h2 style="color: #555;">Nejčastěji léčené poruchy:</h2>
            <ul style="list-style-type: disc; margin-left: 20px;">
                <li>Deprese a úzkostné poruchy</li>
                <li>Bipolární afektivní porucha</li>
                <li>Schizofrenie a jiné psychotické poruchy</li>
                <li>Poruchy osobnosti</li>
                <li>Poruchy příjmu potravy</li>
                <li>Závislosti (alkohol, drogy, gambling)</li>
                <li>Posttraumatická stresová porucha</li>
                <li>Obsedantně-kompulzivní porucha</li>
                <li>Poruchy spánku</li>
            </ul>
        </div>

        <section class="other-services" style="margin-bottom: 40px;">
            <h2 style="color: #555;">Další služby v budově:</h2>
            <p>V 1. patře objektu se nachází i další psychiatrické ordinace:</p>
            <ul style="list-style-type: disc; margin-left: 20px;">
                <li>Psychiatrická ambulance pro děti a dorost a psychiatrická ambulance pro dospělé.</li>
                <li><a href="https://www.psychiatrie-cl.cz/kontakty" style="color: #0066cc;">www.psychiatrie-cl.cz/kontakty</a>
                </li>
                <li><a href="https://www.nzip.cz/poskytovatel/specializovana-ambulance/75123550000000"
                       style="color: #0066cc;">www.nzip.cz/poskytovatel/specializovana-ambulance/75123550000000</a></li>
            </ul>
            <p>V 2. patře objektu se nachází i krajská poradna pro závislost:</p>
            <ul style="list-style-type: disc; margin-left: 20px;">
                <li>ADVAITA, z. ú. - Poradna pro závislosti Česká Lípa</li>
                <li><a href="https://advaitaliberec.cz/program-ambulantniho-poradenstvi/poradny-pro-zavislosti/"
                       style="color: #0066cc;">advaitaliberec.cz/program-ambulantniho-poradenstvi/poradny-pro-zavislosti/</a>
                </li>
            </ul>
        </section>
    </div>
{% endblock %}
