{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <h1>Naše Služby</h1>

        <h2>Seznam poskytovaných služeb (diagnostika, léčba, psychoterapie):</h2>
        <ul>
            <li>Odborná psychiatrická péče</li>
            <li>Psychiatrická diagnostika</li>
            <li>Farmakoterapie (léčba pomocí léků)</li>
            <li>Sexuologické poradenství a léčba</li>
            <li>Adiktologická terapie a podpora</li>
            <li>Individuální psychoterapie</li>
            <li>Skupinová psychoterapie</li>
        </ul>
        <h2>Nejčastěji léčené poruchy:</h2>
        <ul>
            <li>Deprese a úzkostné poruchy</li>
            <li>Bipolární afektivní porucha</li>
            <li>Schizofrenie a jiné psychotické poruchy</li>
            <li>Poruchy osobnosti</li>
            <li>Poruchy příjmu potravy</li>
            <li>Závislosti (alkohol, drogy, gambling)</li>
            <li>Posttraumatická stresová porucha</li>
            <li>Obsedantně-kompulzivní porucha</li>
            <li>Poruchy spánku</li>
        </ul>
        <section class="other-services">
            <h2>Další služby v budově:</h2>
            <p>V 1. patře objektu se nachází i další psychiatrické ordinace:</p>
            <ul>
                <li>Psychiatrická ambulance pro děti a dorost a psychiatrická ambulance pro dospělé.</li>
                <li><a href="https://www.psychiatrie-cl.cz/kontakty">www.psychiatrie-cl.cz/kontakty</a></li>
                <li><a href="https://www.nzip.cz/poskytovatel/specializovana-ambulance/75123550000000">www.nzip.cz/poskytovatel/specializovana-ambulance/75123550000000</a>
                </li>
            </ul>
            <p>V 2. patře objektu se nachází i krajská poradna pro závislost:</p>
            <ul>
                <li>ADVAITA, z. ú. - Poradna pro závislosti Česká Lípa</li>
                <li><a href="https://advaitaliberec.cz/program-ambulantniho-poradenstvi/poradny-pro-zavislosti/">advaitaliberec.cz/program-ambulantniho-poradenstvi/poradny-pro-zavislosti/</a>
                </li>
            </ul>
        </section>
    </div>
{% endblock %}