{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <h1>Prakticke Informace a často kladené otázky</h1>


    <p style="text-align: center">Služby jsou hrazeny zdravotními pojišťovnami</p>
    <p style="text-align: center">Není nutné doporučení od jiného lékaře</p>
    <p style="text-align: center">Snadno dostupná lokalita</p>


</div>
<div>
<section class="insurance">
        <h2>Smluvní zdravotní pojišťovny:</h2>
        <ul>
            <li>Všeobecná zdravotní pojišťovna (111)</li>
            <li>Vojenská zdravotní pojišťovna ČR (201)</li>
            <li>Česká průmyslová zdravotní pojišťovna (205)</li>
            <li>Oborová zdravotní poj. zam. bank, poj. a stav. (207)</li>
            <li>Zdravotní pojišťovna ministerstva vnitra ČR (211)</li>
            <li>Revírní bratrská pokladna, zdrav. pojišťovna (213)</li>
            <li>Zaměstnanecká pojišťovna Škoda (209)</li>
        </ul>
    </section>

    <h2 style="color: orange;">UPOZORNĚNÍ - PARKOVÁNÍ:</h2>


    <p><b>POZOR:</b> Míst k parkování přímo u ambulance je jen několik.
        Parkování na parkovišti u ředitelství policie je v pracovních dnech v době od 6.00 do 17.00
        vyhrazeno pouze pro držitele parkovacích karet policie.
        Využívejte prosím veřejné parkoviště u KD Crystal,
        které má dostatečnou kapacitu.</p>

    <p><b>POZNÁMKA:</b> Naše ambulance se nachází v budově bez výtahu.
        Pokud máte jakékoli specifické potřeby týkající se přístupu, neváhejte nás kontaktovat předem.</p>

</div>
<div>
    <h2>FAQ - Často kladené otázky</h2>
    <ol>
      <li><strong>Jak dlouho trvá první návštěva?</strong></li>
      <p>Délka první návštěvy se liší dle individuálních potřeb pacienta, obvykle se však pohybuje okolo 40 minut.</p>

      <li><strong>Je nutné doporučení od praktického lékaře?</strong></li>
      <p>Není nutné doporučení od praktického lékaře. Můžete se objednat přímo.</p>

      <li><strong>Jak často budu docházet na kontroly?</strong></li>
      <p>Frekvence kontrol záleží na typu a závažnosti potíží, individuálně se domlouvá s lékařem nebo terapeutem.</p>

      <li><strong>Jsou všechny informace důvěrné?</strong></li>
      <p>Ano, veškeré informace sdělené v rámci terapie podléhají lékařskému tajemství a jsou tedy plně důvěrné.</p>

      <li><strong>Mohu přijít v doprovodu blízké osoby?</strong></li>
      <p>Ano, pokud je vám to příjemnější, můžete na terapii přijít i s doprovodem blízké osoby.</p>

      <li><strong>Jak dlouho trvá léčba?</strong></li>
      <p>Délka léčby je individuální a záleží na typu a závažnosti potíží. S terapeutem si stanovíte cíle terapie a odhad její délky.</p>

      <li><strong>Co když mi předepsané léky nebudou vyhovovat?</strong></li>
      <p>V případě, že vám předepsané léky nebudou vyhovovat, informujte o tom svého lékaře. Společně naleznete vhodnější alternativu.</p>

      <li><strong>Nabízíte i online konzultace?</strong></li>
      <p>Ne, v současně době nenabízíme online konzultace.</p>

      <li><strong>Jak postupovat v případě akutní krize mimo ordinační hodiny?</strong></li>
      <p>V případě akutní krize mimo ordinační hodiny kontaktujte linku první psychické pomoci na čísle 116 123 nebo rychlou záchrannou službu.</p>

      <li><strong>Jak mohu pomoci blízké osobě, která má psychické problémy?</strong></li>
      <p>Pokud máte obavy o blízkého člověka, promluvte si s ním o svých obavách a nabídněte mu podporu. Doporučte mu odbornou pomoc a buďte mu oporou.</p>

      <li><strong>Poskytujete konzultace pro rodinné příslušníky pacientů?</strong></li>
      <p>Ano, nabízíme i rodinné konzultace. Ty se zaměřují na zlepšení komunikace a vztahů v rodině.</p>

      <li><strong>Jaké jsou možnosti léčby pro nezletilé pacienty?</strong></li>
      <p>Pro nezletilé pacienty je nutné se obrátit na dětského psychiatra. V případě nezletilých osob je nutný souhlas zákonného zástupce s terapií.</p>

      <li><strong>Mohu objednat blízkou osobu, která potřebuje pomoc?</strong></li>
      <p>Ano, můžete se objednat i blízkou osobu. Je však důležité, aby o tom daná osoba věděla, souhlasila s konzultací a dostavila se osobně.</p>

      <li><strong>Jak poznám, že já nebo můj blízký potřebujeme odbornou pomoc?</strong></li>
      <p>Pokud vy nebo váš blízký prožíváte psychické potíže, které vám ztěžují běžný život, je vhodné vyhledat odbornou pomoc. Nebojte se obrátit na odborníka.</p>
    </ol>
</div>
{% endblock %}