@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Globální nastavení fontu, barvy a pozadí */
body {
    font-family: 'Roboto', Arial, sans-serif; /* Nastavení písma */
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Výška řádku */
    color: #555; /* Barva textu */
    background-color: #f4f4f4; /* Barva pozadí */
}

/* Styl pro informace o lékaři */
.doctor-info {
    margin-bottom: 30px; /* Mezera na spodní části */
}

.doctor-info h2 {
    color: darkorange; /* Barva nadpisu h2 */
    text-align: left; /* Zarovnání textu vlevo */
    margin-bottom: 6px; /* Mezera na spodní části */
}

.doctor-info h3 {
    color: #0756B5FF; /* Barva nadpisu h3 */
    text-align: left; /* Zarovnání textu vlevo */
    margin-top: 0; /* Žádná mezera na vrchu */
}

/* Styl pro čáru za telefonním číslem */
.phone-number::after {
    content: "";
    display: block;
    width: 110%; /* Šířka čáry */
    height: 1px; /* Výška čáry */
    background-color: #ddd; /* Barva čáry */
    margin: 10px auto; /* Mezery nad a pod čárou */
    transform: translateX(-5%); /* Posunutí pro vycentrování */
}

/* Styl pro seznam schůzek */
.appointments-list {
    /* Odstranění výchozího stylu seznamu */
}

.appointment-item {
    margin-bottom: 20px; /* Mezery mezi jednotlivými položkami */
    border-bottom: 1px solid #ddd; /* Čára mezi položkami */
    padding-bottom: 10px; /* Mezera na spodní části položky */
}

.appointment-item h2 {
    text-align: left !important; /* Explicitní zarovnání textu vlevo */
    color: #acc8d7; /* Barva nadpisu h2 */
}

/* Styl pro akce schůzky */
.appointment-actions {
    margin-bottom: 50px; /* Mezery na spodní části */
}

.appointment-actions a {
    margin-right: 10px; /* Mezera mezi tlačítky */
}

/* Styl pro tlačítko vytvoření schůzky */
.appointment-create {
    display: flex; /* Použití flexboxu */
    justify-content: center; /* Horizontální vycentrování */
    margin-top: 50px; /* Mezery na vrchu */
}

/* Styl pro obalový kontejner */
.content-wrapper {
    max-width: 1200px; /* Maximální šířka kontejneru */
    margin: 0 auto; /* Vycentrování kontejneru */
    padding: 20px; /* Vnitřní odsazení */
    width: 100%;
    box-sizing: border-box; /* Zahrnutí paddingu do šířky */
    background-color: white; /* Barva pozadí kontejneru */
}

/* Styl pro horní část hlavičky */
.header-top {
    background-color: #fdfdd3; /* Barva pozadí */
    width: 100%;
    padding: 10px 0; /* Vnitřní odsazení */
    box-sizing: border-box; /* Zahrnutí paddingu do šířky */
    display: flex; /* Použití flexboxu */
    justify-content: space-between; /* Rozložení prvků */
    align-items: center; /* Vertikální vycentrování */
    max-width: 1200px; /* Maximální šířka */
    margin: 0 auto; /* Vycentrování */
    flex-wrap: wrap; /* Přizpůsobení obsahu */
}

/* Styl pro logo a název */
.logo-name {
    order: 1; /* Umístění vlevo */
    display: flex; /* Flexbox pro zarovnání */
    align-items: center;
    margin-left: 10px; /* Mezery vlevo */
}

.logo-name img {
    margin-right: 10px; /* Mezera vpravo od obrázku */
    margin-left: 10px; /* Mezera vlevo od obrázku */
}

.logo-name span {
    font-size: 0.9em; /* Velikost písma */
    color: #555; /* Barva textu */
}

/* Styl pro přihlašovací sekci */
.login {
    order: 2; /* Umístění vpravo */
    margin-right: 15px; /* Mezery vpravo */
}

.login a { /* Styl pro přihlašovací odkaz */
    display: flex; /* Flexbox pro zarovnání */
    align-items: center;
    color: #acc8d7; /* Barva textu */
    text-decoration: none; /* Odstranění podtržení */
    font-weight: bold; /* Tučné písmo */
    /*margin-right: 10px; !* Eliminace mezery *!*/
}

.login a:hover {
    color: orange; /* Barva textu při hover */
}

.login i {
    margin-right: 5px; /* Mezera vpravo od ikony */
}

/* Styl pro spodní část hlavičky */
.header-bottom {
    background-color: #ffd9B3; /* Barva pozadí */
    width: 100%;
    padding: 10px 0; /* Vnitřní odsazení */
    box-sizing: border-box; /* Zahrnutí paddingu do šířky */
    margin: 0 auto; /* Vycentrování */
    display: flex; /* Flexbox pro zarovnání */
    justify-content: center; /* Vycentrování obsahu */
    align-items: center; /* Vertikální vycentrování */
    flex-wrap: wrap; /* Přizpůsobení obsahu */
}

/* Styl pro menu */
.menu {
    width: 100%;
}

.menu ul {
    display: flex; /* Flexbox pro položky */
    justify-content: center; /* Vycentrování položek */
    list-style-type: none; /* Odstranění výchozího stylu seznamu */
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; /* Zahrnutí paddingu do šířky */
    flex-wrap: wrap; /* Přizpůsobení obsahu */
}

.menu li {
    margin: 0 15px; /* Mezery mezi položkami */
    height: 100%;
}

.menu a {
    text-decoration: none; /* Odstranění podtržení */
    color: #446879; /* Barva textu */
    font-weight: bold; /* Tučné písmo */
    padding: 10px 15px; /* Vnitřní odsazení */
    transition: background-color 0.3s; /* Přechod pro změnu barvy pozadí */
    display: flex; /* Flexbox pro zarovnání */
    align-items: center;
    box-sizing: border-box; /* Zahrnutí paddingu do šířky */
}

.menu a:hover {
    background-color: orange; /* Barva pozadí při hover */
    color: #ffffcc; /* Barva textu při hover */
    /*text-decoration: underline; !* Podtržení při hover *!*/
}

/* Styl pro nadpisy h1, h2 a h3 */
h1 {
    color: #608FB7; /* Barva nadpisu h1 */
    text-align: center; /* Zarovnání na střed */
}

h2 {
    color: #acc8d7; /* Barva nadpisu h2 */
    text-align: left; /* Zarovnání vlevo */
}

h3 {
    color: #7a97b6; /* Barva nadpisu h3 */
    text-align: center; /* Zarovnání na střed */
}

/* Styl pro hlavní obsah */
main {
    padding: 0; /* Odstranění vnitřního odsazení */
}

/* Styl pro patičku */
footer {
    background-color: #333; /* Barva pozadí */
    color: #ffffcc; /* Barva textu */
    padding: 20px 0; /* Vnitřní odsazení */
    /*position: relative; !* Nastavení pozice, pokud je potřeba *!*/
}

.footer-content {
    max-width: 1200px; /* Maximální šířka obsahu */
    margin: 0 auto; /* Vycentrování obsahu */
    text-align: center; /* Zarovnání textu na střed */
}

.health-insurance-logos img {
    max-height: 40px; /* Maximální výška loga */
    margin: 10px; /* Mezery kolem loga */
}

.footer-credits {
    background-color: #7393B3; /* Barva pozadí */
    color: #333; /* Barva textu */
    padding: 3px 0; /* Vnitřní odsazení */
    font-size: 0.9em; /* Velikost písma */
    text-align: center; /* Zarovnání textu na střed */
    line-height: 1.4; /* Výška řádku */
}

/* Styly pro formuláře */
.form-group {
    margin-bottom: 15px; /* Mezery mezi formulářovými skupinami */
}

label {
    font-weight: bold; /* Tučné písmo */
    margin-bottom: 5px; /* Mezera pod štítkem */
    display: block; /* Blokový prvek */
}

input, textarea, select {
    width: 100%; /* Šířka prvku */
    padding: 10px; /* Vnitřní odsazení */
    margin-top: 5px; /* Mezera nad prvkem */
    border: 1px solid #ccc; /* Okraj */
    border-radius: 5px; /* Zaoblení rohů */
    box-sizing: border-box; /* Zahrnutí paddingu do šířky */
}

/* Styl pro kontejnery tlačítek */
.button-container {
    display: flex; /* Flexbox pro zarovnání */
    flex-direction: column; /* Sloupcové uspořádání */
    align-items: center; /* Vycentrování */
}

/* Styl pro řádky tlačítek */
.button-row {
    display: flex; /* Flexbox pro zarovnání */
    justify-content: center; /* Vycentrování */
    margin-bottom: 5px; /* Mezera pod řádkem tlačítek */
}

.button-row:last-child {
    margin-bottom: 0; /* Odstranění mezery pod posledním řádkem */
}

/* Výchozí styl pro tlačítka */
.button {
    margin: 0 5px; /* Mezery mezi tlačítky */
    padding: 10px 20px; /* Vnitřní odsazení */
    background-color: #7393B3; /* Barva pozadí */
    color: white; /* Barva textu */
    text-decoration: none; /* Odstranění podtržení */
    border-radius: 5px; /* Zaoblení rohů */
    border: none; /* Odstranění okrajů */
    font-size: 16px; /* Velikost písma */
    transition: background-color 0.3s, color 0.3s; /* Přechody pro změnu barvy */
}

/* Hover efekt pro tlačítka */
.button:hover {
    background-color: orange !important; /* Barva pozadí při hover */
    color: #ffffcc !important; /* Barva textu při hover */
}

div .button:hover {
    background-color: orange; /* Barva pozadí při hover */
    color: #ffffcc; /* Barva textu při hover */
}

.content-wrapper .button-row:nth-child(1) .button:hover {
    background-color: orange !important; /* Barva pozadí při hover pro první řádek */
    color: #ffffcc !important; /* Barva textu při hover pro první řádek */
}

/* Styl pro druhý řádek tlačítek */
.button-row:nth-child(2) .button {
    background-color: #a4bbd0 !important; /* Barva pozadí pro druhý řádek */
    color: white !important; /* Barva textu pro druhý řádek */
}

/* Specifické styly pro druhý řádek tlačítek při hover */
.content-wrapper .button-row:nth-child(2) .button:hover {
    background-color: orange !important; /* Barva pozadí při hover */
    color: #ffffcc !important; /* Barva textu při hover */
}

/* Styl pro tabulky */
table {
    width: 100%; /* Šířka tabulky */
    border-collapse: collapse; /* Složit okraje */
    margin: 20px 0; /* Mezery nad a pod tabulkou */
}

table th, table td {
    border: 1px solid #ccc; /* Okraj buněk */
    padding: 10px; /* Vnitřní odsazení */
    text-align: left; /* Zarovnání textu vlevo */
}

table th {
    background-color: #f4f4f4; /* Barva pozadí hlaviček */
    font-weight: bold; /* Tučné písmo */
}

table tr:nth-child(even) {
    background-color: #f9f9f9; /* Barva pozadí sudých řádků */
}

table a {
    color: darkorange; /* Barva textu odkazů */
    text-decoration: none; /* Odstranění podtržení */
}

table a:hover {
    text-decoration: underline; /* Podtržení při hover */
}

/* Styl pro oznámení */
.announcement-list {
    list-style-type: none; /* Odstranění bulletů */
    padding: 0; /* Odstranění paddingu */
}

.announcement-item {
    margin-bottom: 20px; /* Mezery mezi oznámeními */
}

.announcement-item h2 {
    color: orange; /* Barva nadpisu oznámení */
    text-transform: uppercase; /* Velká písmena */
    text-align: left; /* Zarovnání vlevo */
    margin-bottom: 10px; /* Mezera pod nadpisem */
}

.announcement-item p {
    margin: 0 0 10px 0; /* Mezera pod odstavcem */
}

.announcement-item small {
    display: block; /* Blokový prvek */
    margin-bottom: 10px; /* Mezera pod malým textem */
    color: #777; /* Barva textu */
}

/* Styl pro chyby */
.errors {
    background-color: #f8d7da; /* Barva pozadí */
    color: #721c24; /* Barva textu */
    padding: 10px; /* Vnitřní odsazení */
    margin-top: 10px; /* Mezera nad chybou */
    border-radius: 5px; /* Zaoblení rohů */
}

/* Styl pro design stránky seznamu uživatelů */
.container {
    margin: 20px auto; /* Mezery kolem kontejneru */
    max-width: 800px; /* Maximální šířka kontejneru */
    padding: 20px; /* Vnitřní odsazení */
    background-color: #ffffff; /* Barva pozadí */
    border-radius: 8px; /* Zaoblení rohů */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Stín kontejneru */
}

h1 {
    font-size: 2em; /* Velikost písma */
    margin-bottom: 20px; /* Mezera pod nadpisem */
    text-align: center; /* Zarovnání na střed */
    color: #446879; /* Barva textu */
}

/* Styl pro filtraci formuláře */
.filter {
    margin-bottom: 20px; /* Mezera pod filtrem */
    text-align: center; /* Zarovnání na střed */
    /*white-space: nowrap; !* Nezalamuje text do nového řádku *!*/
}

.filter-form {
    display: flex; /* Flexbox pro zarovnání */
    /*flex-wrap: wrap;*/
    gap: 10px; /* Mezery mezi prvky */
    align-items: center; /* Vertikální zarovnání */
    justify-content: center; /* Horizontální vycentrování */
}

.filter-form p {
    margin: 0; /* Odstranění marginu */
    flex: 1; /* Flexibilní šířka */
}

.filter-form button {
    flex-shrink: 0; /* Prevence zmenšování tlačítek */
}

/* Styl pro filtrační tlačítka */
.filter {
    margin-bottom: 20px; /* Mezera pod filtrem */
    text-align: center; /* Zarovnání na střed */
    /*white-space: nowrap; !* Nezalamuje text do nového řádku *!*/
}

.filter input, .filter select {
    margin: 0 5px; /* Mezery mezi prvky */
    padding: 5px; /* Vnitřní odsazení */
    border-radius: 5px; /* Zaoblení rohů */
    border: 1px solid #ccc; /* Okraj */
}

.filter button {
    padding: 10px 20px; /* Vnitřní odsazení */
    margin: 5px; /* Mezery kolem tlačítka */
    border: none; /* Odstranění okrajů */
    border-radius: 5px; /* Zaoblení rohů */
    cursor: pointer; /* Změna kurzoru na ruku */
    font-size: 16px; /* Velikost písma */
    color: white; /* Barva textu */
    background-color: #7393B3; /* Barva pozadí */
    transition: background-color 0.3s, color 0.3s; /* Přechody pro barvy */
}

/* Barvy pro specifická filtrační tlačítka */
.filter button:nth-child(1) {
    background-color: #fbf3bc; /* Barva pozadí prvního tlačítka */
    color: #333333; /* Barva textu prvního tlačítka */
}

.filter button:nth-child(2) {
    background-color: #f0b49f; /* Barva pozadí druhého tlačítka */
    color: #333333; /* Barva textu druhého tlačítka */
}

.filter button:nth-child(3) {
    background-color: #a486ad; /* Barva pozadí třetího tlačítka */
    color: #333333; /* Barva textu třetího tlačítka */
}

.filter button:nth-child(4) {
    background-color: #9fb6ca; /* Barva pozadí čtvrtého tlačítka */
    color: #333333; /* Barva textu čtvrtého tlačítka */
}

/* Hover efekt pro filtrační tlačítka */
.filter button:hover {
    background-color: orange; /* Barva pozadí při hover */
    color: #ffffcc; /* Barva textu při hover */
}

/* Styl pro seznam uživatelů */
.user-list {
    list-style-type: none; /* Odstranění bulletů */
    padding: 0; /* Odstranění paddingu */
}

.user-item {
    padding: 10px; /* Vnitřní odsazení */
    margin-bottom: 10px; /* Mezera pod položkou */
    border-bottom: 1px solid #ccc; /* Okraj pod položkou */
}

.user-item a {
    text-decoration: none; /* Odstranění podtržení */
    color: darkorange; /* Barva textu odkazu */
}

.user-item a:hover {
    text-decoration: underline; /* Podtržení odkazu při hover */
}

.user-item strong {
    color: #333; /* Barva textu */
    font-weight: bold; /* Tučné písmo */
}

/* Responsivní styly pro mobilní zařízení */
/* Styl pro zařízení s šířkou obrazovky od 769px do 1024px (např. tablety) */
@media (min-width: 769px) and (max-width: 1024px) {
    .header-top {
        padding: 10px 0; /* Větší padding pro tablety */
        flex-direction: column; /* Zarovnání prvků pod sebou */
        text-align: center; /* Centrum textu */
    }

    .menu ul {
        flex-direction: row; /* Zarovnání menu položek horizontálně */
        justify-content: center; /* Centrum položek */
    }

    .menu li {
        margin: 0 10px; /* Větší mezera mezi položkami menu */
    }

    .menu a {
        padding: 10px 15px; /* Větší padding pro odkazy */
        font-size: 16px; /* Větší velikost písma */
    }
}

/* Styl pro zařízení s šířkou obrazovky menší než 480px (např. mobilní telefony) */
@media (max-width: 480px) {
    .header-top {
        padding: 5px 0; /* Menší padding */
    }

    .menu a {
        padding: 8px 0; /* Menší padding pro odkazy */
        font-size: 14px; /* Menší velikost písma */
    }

    .button {
        padding: 8px 16px; /* Menší padding pro tlačítka */
        font-size: 14px; /* Menší velikost písma */
    }
}