{% load static %}
<footer>
    <div class="footer-content">
        <p>Psychiatrie Hnídek s.r.o.<br>
        ADRESA: Ronovská 846/3, 470 01 Česká Lípa<br>
        TELEFON: +420 487 521 954<br>
        E-MAIL: ambulance@psychiatrie-hnidek.cz<br>
        IČO 18348220<br>
        DATOVÁ SCHRÁNKA: 3auedth<br>
        GPS: N 50°41.052′ E 14°31.758′
        </p>
        <div class="health-insurance-logos">
            <img src="{% static 'images/zp_logo.png' %}" alt="ZP">
            <img src="{% static 'images/vzp_logo.png' %}" alt="VZP">
            <img src="{% static 'images/ozp_logo.png' %}" alt="OZP">
            <img src="{% static 'images/zps_logo.png' %}" alt="ZPŠ">
            <img src="{% static 'images/vozp_logo.jpg' %}" alt="VOZP">
            <img src="{% static 'images/cpzp_logo.png' %}" alt="ČPZP">
            <img src="{% static 'images/rbp_logo.jpg' %}" alt="RBP">
            <!-- sem prijde seznam dalsich 6 pojistoven, tj.jejich loga -->
        </div>
    </div>
    <div class="footer-credits">
        <p>Web created by: Martin Červinka, Holubex and DrenaGit, 2024</p>
    </div>
</footer>