{% load static %}
<footer>
    <div class="footer-content">
        <p>Psychiatrie Hnídek s.r.o.<br>
        Ronovská 846/3, 470 01 Česká Lípa<br>
        Telefon: +420 487 521 954<br>
        E-mail: ambulance@psychiatrie-hnidek.cz<br>
        IČO 18348220<br>
        Datová schránka: 3auedth<br>
        GPS: N 50°41.052′ E 14°31.758′
        </p>
        <div class="health-insurance-logos">
            <img src="{% static 'images/vzp_logo.png' %}" alt="VZP">
            <!-- sem prijde seznam dalsich 6 pojistoven, tj.jejich loga -->
        </div>
    </div>
    <div class="footer-credits">
        <p>Web created by: Martin Červinka, Holubex and DrenaGit, 2024</p>
    </div>
</footer>