{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <h1 style="text-align: center;">Psychiatrická ambulance Hnídek</h1>

        <section class="welcome">
            <h1 style="color: darkorange; text-align: center;">Vítejte v naši psychiatrické ambulanci</h1>
            <p style="text-align: center;">Naše ambulance poskytuje odbornou psychiatrickou péči dospělým pacientům v
                České Lípě a okolí.</p>

            <h3 style="text-align: left;">Potýkáte se Vy nebo Váš blízký s:</h3>
            <ul style="list-style-type: disc; margin-left: 20px;">
                <li>Depresí, úzkostí nebo panikou?</li>
                <li>Poruchami spánku?</li>
                <li>Vážnými psychickými poruchami?</li>
                <li>Závislostmi?</li>
                <li>Jinými psychickými obtížemi?</li>
            </ul>


            <p style="text-align: center; font-weight: bold;">
                Nevzáhejte nás kontaktovat.
            </p>
            <p style="text-align: center;">
                Nabízíme komplexní péči v oblasti duševního zdraví, sexuologie a adiktologie.
            </p>
            <p style="text-align: center;">
                Náš tým zkušených odborníků je zde, aby vám poskytl profesionální a individuální přístup.
            </p>
            <p style="text-align: center; font-weight: bold;">
                Jsme smluvním zařízením zdravotních pojišťoven - <u>péče je tedy hrazena z veřejného zdravotního
                pojištění.</u>
            </p>
            <p style="text-align: center; font-weight: bold;">
                Pro objednání volejte: <a href="tel:+420487521954" style="color: #0066cc;">+420 487 521 954</a>
            </p>
            {#        <p style="text-align: center; font-weight: bold;">Neváhejte nás kontaktovat.</p>#}
            {#        <p style="text-align: center;">Nabízíme komplexní péči v oblasti duševního zdraví, sexuologie a adiktologie. Náš tým zkušených odborníků je zde, aby vám poskytl profesionální a individuální přístup.</p>#}
            {#        <p style="text-align: center; font-weight: bold;">Jsme smluvním zařízením zdravotních pojišťoven - <u>péče je tedy hrazena z veřejného zdravotního pojištění.</u></p>#}
            {#        <p style="text-align: center; font-weight: bold;">Pro objednání volejte: <a href="tel:+420487521954" style="color: #0066cc;">+420 487 521 954</a></p>#}
        </section>

        <section class="services" style="margin-top: 100px;">
            <h2 style="text-align: center;">Co od nás můžete očekávat:</h2>
            <ul style="list-style-type: disc; margin-left: 20px;">
                <li>Odbornou psychiatrickou péči</li>
                <li>Sexuologické poradenství a léčbu</li>
                <li>Adiktologickou terapii a podporu</li>
                <li>Psychoterapeutické služby</li>
                <li>Diskrétní a profesionální přístup</li>
                <li>Moderní léčebné metody a příjemné prostředí</li>
            </ul>
        </section>

        <section class="principles" style="margin-top: 100px;">
            <h2 style="text-align: center;">Naše zásady:</h2>
            <ul style="list-style-type: disc; margin-left: 20px;">
                <li>Diskrétnost a respekt k soukromí</li>
                <li>Komplexní diagnostika a léčba</li>
                <li>Moderní terapeutické přístupy</li>
                <li>Individuální přístup ke každému pacientovi</li>
            </ul>
        </section>

        <section class="info" style="margin-top: 100px;">
            <h2 style="text-align: center;">Na dalších stránkách naleznete tyto informace:</h2>
            <ul style="list-style-type: disc; margin-left: 20px;">
                <li><b>Aktuality:</b> Aktuální informace o provozu ambulance</li>

                <li><b>Naše služby:</b> Seznam poskytovaných služeb (diagnostika, léčba, psychoterapie); Nejčastější
                    léčené poruchy
                </li>
                <li><b>Praktické informace + FAQ:</b> Jak se objednat; Co vzít s sebou na první návštěvu; Často kladené
                    otázky
                </li>
                <li><b>Kontakt a ordinační hodiny:</b> Adresa ambulance; Telefonní číslo; E-mail; Ordinační hodiny; Mapa
                    s umístěním ambulance
                </li>
            </ul>
        </section>
    </div>
{% endblock %}