{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <h1>Psychiatrická ambulance Hnídek</h1>


        <section class="welcome">
            <h1 style="color: darkorange">Vítejte v naši psychiatrické ambulanci</h1>
            <p>Naše ambulance poskytuje odbornou psychiatrickou péči dospělým pacientům v České Lípě a okolí. </p>
            <h3 style="text-align: left">Potýkáte se Vy nebo Váš blízký s:</h3>
            <ul>
                <li>Depresí, úzkostí nebo panikou?</li>
                <li>Poruchami spánku?</li>
                <li>Vážnými psychickými poruchami?</li>
                <li>Závislostmi?</li>
                <li>Jinými psychickými obtížemi?</li>
            </ul>
            <p><b>Neváhejte nás kontaktovat.</b></p>
            <p>Nabízíme komplexní péči v oblasti duševního zdraví, sexuologie a adiktologie. Náš tým zkušených odborníků
                je zde, aby vám poskytl profesionální a individuální přístup.</p>
            <p><b>Jsme smluvním zařízením zdravotních pojišťoven - <u style="color: #7f9cbc;">péče je tedy hrazena z
                veřejného zdravotního pojištění.</u></b></p>
            <p style="color: #ff8c00;"><b>Pro objednání volejte: <a href="tel:+420487521954" style="color: #0756B5FF;">+420
                487 521 954</a></b></p>
        </section>

        <section class="services">
            <h2>Co můžete očekávat:</h2>
            <ul>
                <li>Odbornou psychiatrickou péči</li>
                <li>Sexuologické poradenství a léčbu</li>
                <li>Adiktologickou terapii a podporu</li>
                <li>Psychoterapeutické služby</li>
                <li>Diskrétní a profesionální přístup</li>
                <li>Moderní léčebné metody a příjemné prostředí</li>
            </ul>
        </section>

        <section class="principles">
            <h2>Naše zásady:</h2>
            <ul>
                <li>Diskrétnost a respekt k soukromí</li>
                <li>Komplexní diagnostika a léčba</li>
                <li>Moderní terapeutické přístupy</li>
                <li>Individuální přístup ke každému pacientovi</li>
            </ul>
        </section>
        <h2>Na dalších stránkách naleznete tyto infomace:</h2>
        <p><b>Aktuality:</b></p>
        <ul>
            <li>Aktuální informace o provozu ambulance</li>
        </ul>
        <p><b>Naše služby:</b></p>
        <ul>
            <li>Seznam poskytovaných služeb (diagnostika, léčba, psychoterapie)</li>
            <li>Nejčastější léčené poruchy</li>
        </ul>
        <p><b>Praktické informace + FAQ:</b></p>
        <ul>
            <li>Jak se objednat</li>
            <li>Co vzít s sebou na první návštěvu</li>
            <li>Často kladené otázky</li>
        </ul>
        <p><b>Kontakt a ordinační hodiny:</b></p>
        <ul>
            <li>Adresa ambulance</li>
            <li>Telefonní číslo</li>
            <li>E-mail</li>
            <li>Ordinační hodiny</li>
            <li>Mapa s umístěním ambulance</li>
        </ul>
    </div>
{% endblock %}