{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <h1>Kontakt</h1>

   <b><h2>MUDr. Ladislav Hnídek</h2></b>
    <ul>
        <p><li>Telefon +420 487 521 954</li></p>

        <li>Pondělí 8:00–12:00, 13:00–16:00</li>
        <li>Úterý  10:00–12:00, 13:00–18:00</li>
        <li>Středa 16:00–18:00</li>
        <li>Čtvrtek 8:00–12:00, 13:00–16:00</li>
        <li>Pátek   8:00–12:00, 13:00–16:00</li>

    </ul>
        <p>********************************<p>

    <p><h2>MUDr. David Hnídek</h2><p>
    <ul>
    <p><li>Telefon: +420 487 521 581</li></p>

    <li>Pondělí  8:30–15:30</li>
        <li>Úterý    8:30–15:30</li>
        <li>Středa   8:30–17:00</li>
        <li>Čtvrtek  8:30–15:30</li>
        <li>Pátek    Zavřeno</li>
</ul>
        <p>********************************<p>

    <p><h2>MUDr. Viera Gutová</h2><p>
    <ul>

    <p><li>Telefon: +487 521 710</li></p>

        <li>Pondělí 8:00–12:00, 13:00–16:00</li>
        <li>Úterý  10:00–12:00, 13:00–18:00</li>
        <li>Středa 16:00–18:00</li>
        <li>Čtvrtek 8:00–12:00, 13:00–16:00</li>
        <li>Pátek   8:00–12:00, 13:00–16:00</li>
</ul>
</div>
{% endblock %}