{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <h1>Naše Služby</h1>

    <h2>Co můžete očekávat:</h2>
    <ul>
        <li>Odborná psychiatrická péče</li>
        <li>Sexuologické poradenství a léčba</li>
        <li>Adiktologická terapie a podpora</li>
        <li>Psychoterapeutické služby</li>

         <section class="other-services">
        <h2>Další služby v budově:</h2>
        <p>V 1. patře objektu se nachází i další psychiatrické ordinace:</p>
        <ul>
            <li>Psychiatrická ambulance pro děti a dorost a psychiatrická ambulance pro dospělé.</li>
            <li><a href="https://www.psychiatrie-cl.cz/kontakty">www.psychiatrie-cl.cz/kontakty</a></li>
            <li><a href="https://www.nzip.cz/poskytovatel/specializovana-ambulance/75123550000000">www.nzip.cz/poskytovatel/specializovana-ambulance/75123550000000</a></li>
        </ul>
        <p>V 2. patře objektu se nachází i krajská poradna pro závislost:</p>
        <ul>
            <li>ADVAITA, z. ú. - Poradna pro závislosti Česká Lípa</li>
            <li><a href="https://advaitaliberec.cz/program-ambulantniho-poradenstvi/poradny-pro-zavislosti/">advaitaliberec.cz/program-ambulantniho-poradenstvi/poradny-pro-zavislosti/</a></li>
        </ul>
    </section>
</div>
{% endblock %}