{% load static %}
<header>
    <div class="header-top">
        <div class="logo-name">
            <!-- Vložení loga společnosti a textového popisu -->
            <img src="{% static 'images/psychiatry_512.png' %}" alt="Logo Psychiatrie Hnídek" width="50">
            <span>Psychiatrie Hnídek s.r.o., Ronovská 846/3, 470 01 Česká Lípa, ambulance@psychiatrie-hnidek.cz</span>
        </div>
        <div class="login">
            <!-- Zobrazení přihlašovacího stavu uživatele -->
            {% if user.is_authenticated %}
                <span>Dobrý den, {{ user.username }}!</span>
                <!-- Odkaz na odhlášení -->
                <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Odhlásit</a>
            {% else %}
                <!-- Odkaz na přihlášení -->
                <a href="{% url 'login' %}"><i class="fas fa-user"></i> Přihlásit</a>
            {% endif %}
        </div>


    </div>

    <div class="header-bottom">
        <nav class="menu">
            <ul>
                <!-- Hlavní navigační menu -->
                <li><a href="{% url 'home' %}">Domovská stránka</a></li>
                <li><a href="{% url 'announcement_list' %}">Aktuality</a></li>
                <li><a href="{% url 'our_services' %}">Naše služby</a></li>
                <li><a href="{% url 'practical_info' %}">Praktické informace + FAQ</a></li>
                <li><a href="{% url 'contact' %}">Kontakt a ordinační hodiny</a></li>
            </ul>
        </nav>
    </div>

    <div class="content-wrapper">
        <div class="button-row">
            <!-- Zobrazení akčních tlačítek podle oprávnění uživatele -->
            {% if user.is_authenticated %}
                {% if perms.patients.add_user %}
                    <a href="{% url 'create_user' %}" class="button">Nový uživatel</a>
                {% endif %}
                {% if perms.medical_examination.add_medicalexamination %}
                    <a href="{% url 'medical_examination_create' %}" class="button">Záznam vyšetření</a>
                {% endif %}
                {% if perms.order_calendar.add_appointment %}
                    <a href="{% url 'appointment_create' %}" class="button">Objednat pacienta</a>
                {% endif %}
                {% if perms.medical_examination.add_announcement %}
                    <a href="{% url 'announcement_create' %}" class="button">Přidej aktualitu</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="button-row">
            <!-- Zobrazení seznamů a kalendáře podle oprávnění uživatele -->
            {% if user.is_authenticated %}
                {% if perms.patients.view_user %}
                    <a href="{% url 'user_list' %}" class="button">Seznam uživatelů</a>
                {% endif %}
                {% if perms.medical_examination.view_medicalexamination %}
                    <a href="{% url 'medical_examination_list' %}" class="button">Seznam vyšetření</a>
                {% endif %}
                {% if perms.order_calendar.view_appointment %}
                    <a href="{% url 'appointment_list' %}" class="button">Kalendář objednaných pacientů</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</header>
