{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <h1>Prakticke Informace</h1>

<ul>
    <li>Služby jsou hrazeny zdravotními pojišťovnami</li>
    <li>Není nutné doporučení od jiného lékaře</il>
    <li>Snadno dostupná lokalita</il>

</ul>



    <h2>UPOZORNĚNÍ - PARKOVÁNÍ:</h2>

    <ul>
    <li>Pozor: Míst k parkování přímo u ambulance je jen několik.
        Parkování na parkovišti u ředitelství policie je v pracovních dnech v době od 6.00 do 17.00
        vyhrazeno pouze pro držitele parkovacích karet policie.
        Využívejte prosím veřejné parkoviště u KD Crystal,
        které má dostatečnou kapacitu.</li>

    <li>Poznámka: Naše ambulance se nachází v budově bez výtahu.
        Pokud máte jakékoli specifické potřeby týkající se přístupu, neváhejte nás kontaktovat předem.</li>
    </ul>
</div>
{% endblock %}