{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <h1>Prakticke Informace</h1>

<ul>
    <li>Služby jsou hrazeny zdravotními pojišťovnami</li>
    <li>Není nutné doporučení od jiného lékaře</il>
    <li>Snadno dostupná lokalita</il>

</ul>

<section class="insurance">
        <h2>Smluvní zdravotní pojišťovny:</h2>
        <ul>
            <li>Všeobecná zdravotní pojišťovna (111)</li>
            <li>Vojenská zdravotní pojišťovna ČR (201)</li>
            <li>Česká průmyslová zdravotní pojišťovna (205)</li>
            <li>Oborová zdravotní poj. zam. bank, poj. a stav. (207)</li>
            <li>Zdravotní pojišťovna ministerstva vnitra ČR (211)</li>
            <li>Revírní bratrská pokladna, zdrav. pojišťovna (213)</li>
            <li>Zaměstnanecká pojišťovna Škoda (209)</li>
        </ul>
    </section>

    <h2>UPOZORNĚNÍ - PARKOVÁNÍ:</h2>

    <ul>
    <li>Pozor: Míst k parkování přímo u ambulance je jen několik.
        Parkování na parkovišti u ředitelství policie je v pracovních dnech v době od 6.00 do 17.00
        vyhrazeno pouze pro držitele parkovacích karet policie.
        Využívejte prosím veřejné parkoviště u KD Crystal,
        které má dostatečnou kapacitu.</li>

    <li>Poznámka: Naše ambulance se nachází v budově bez výtahu.
        Pokud máte jakékoli specifické potřeby týkající se přístupu, neváhejte nás kontaktovat předem.</li>
    </ul>
</div>
{% endblock %}